:root {
    --open-sans: "Open Sans", sans-serif;
    --nunito: "Nunito", sans-serif;

    --accent-light: #FBB731;
    --accent-dark: #F37335;
    --dark: #443737;
    --light:#ffffff;
    --light-rgb: 255,255,255;
    --dark-rgb: 68,55,55;
}
body {
    font-family: var(--open-sans);
    
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    max-width: 1182px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    border-bottom: 1px solid #DEDEDE;
}
.header-wraper {
    display: flex;
    align-items: center;
    gap: 196px;
    padding: 26px 0;
}
.logo {
    display: block;
    width: 176px;
    height: 56px;
    background-image: url(../images/Logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.nav {
    flex-grow: 1;
    display: flex;
    gap: 47px;
}
.nav-link {
    color: var(--dark);
    font-size: 20px;
    font-weight: 600;
}
.nav-link::after {
    content: '';
    display: block;
    background-color: transparent;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;

}
.nav-link:hover::after {
    background-color: var(--accent-light);
}
.card {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--dark);
    font-size: 15px;
    font-weight: 700;
    position: relative;
}
.card::before {
    content: '';
    display: block;
    width: 30px;
    height: 26px;
    background-image: url(../images/shopping-cart.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.card-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    background-color: var(--accent-dark);
    font-size: 10px;
    color: var(--light);
    position: absolute;
    left: 17px;
}
/*hero*/
.hero {
    background-image: url(../images/hero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 142px 0;
}
.container {
    padding: 0;
}
.breadcrumbs {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
    padding-left: 0;
    color: rgba(var(--light-rgb),.5);
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.breadcrumbs-items {
    position: relative;
    
}
.breadcrumbs-items:not(:last-child)::after {
    content: '/';
    position: absolute;
    right: -12px;
}
.breadcrumbs-link {
    color: rgba(var(--light-rgb),.5);
    
    
}
.breadcrumbs-link:hover {
    color: var(--accent-light);
}
.hero-title {
    color: var(--light);
    font-family: var(--nunito);
    font-weight: 700;
    font-size: 79px;
    text-transform: capitalize;
    margin-top: 25px;
    margin-left: -87px;
}
.hero-description {
    max-width: 320px;
    margin: 0 auto;
    font-size: 15px;
    color: rgba(var(--light-rgb),.8);
    line-height: 160%;
}
/*baner*/
.baner {
    margin-top: 140px;
  
}
.baner-wrapper {
    padding: 100px;
    background-image: url(../images/homemade-tasty-beef-burger-4BM65XU\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;

}
.baner-title {
    color: var(--light);
    font-family: var(--nunito);
    font-size: 60px;
    font-weight: 900;
    line-height: 126%;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 11px;
    
}
.baner-title span {
    display: block;
    max-width: 95px;
    color: var(--light);
    font-family: var(--open-sans);
    font-size: 14px;
    line-height: 128%;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--accent-dark);
    border-radius: 14px;
    padding: 5px 0;
    margin-bottom: 4px;
}
.baner-description {
    max-width: 328px;
    margin-top: 0;
    margin-bottom: 13px;
    color: rgba(var(--light-rgb),.8);
    font-family: var(--open-sans);
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 160%;

}
.baner-btn {
    width: 170px;
    height: 58px;
    background-color: var(--accent-light);
    border: none;
    border-radius: 5px;
    color: var(--dark);
    font-family: var(--nunito);
    font-size: 14px;
    padding: 22px 25px;
    text-transform: uppercase;
   
}
.baner-btn:hover {
    background-color: var(--accent-dark);
}

/*menu*/

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 34px;
}

.menu-title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--nunito);
    font-weight: 700;
    font-size: 44px;
    line-height: 127%;
    color: var(--dark); 
    text-transform: uppercase;
}

.menu-select {
    color: var(--dark);
    font-size: 15px;
    appearance: none;
    flex-basis: 279px;
    background-image: url(../images/menu/chevron-down.svg);
    background-size: 14px 10px;
    background-repeat: no-repeat;
    background-position: 89% center;
    border: 1px solid #DEDEDE;
    padding: 13px 30px;
    border-radius: 22px;
  
}
.menu-box {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 50px 20px;
}
.menu-item {
    font-family: var(--nunito);
    text-align: center;
}
.menu-thumb {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.menu-thumb img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.menu-name {
    color: var(--dark);
    font-size: 30px;
    font-weight: 600;
    line-height: 126%;
    margin-top: 0;
    margin-bottom: 10px;
}
.menu-price {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    color: rgba(var(--dark-rgb),.5);
}
.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    font-family: var(--nunito);
    font-size: 14px;
    font-weight: 700;
    padding: 11px 32px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--dark);
    background-color: var(--accent-light);
    border: none;
    border-radius: 5px; 
}
.menu-btn::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-image: url(../images/menu/cart.svg);
    background-repeat: no-repeat;
    background-size: contain;
   
}
/*footer*/

.footer {
    background-color: var(--dark);
    padding-top: 110px;
    padding-bottom: 120px;
    margin-top: 140px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    display: block;
    width: 63px;
    height: 56px;
    background-image: url(../images/logo-ligh-min.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-title {
    font-family: var(--nunito);
    color: var(--light);
    font-size: 20px;
    font-weight: 800;
    line-height: 190%;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 13px;
}
.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 9px;

}
.footer-nav-link {
    color: rgba(var(--light-rgb),.9);
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
}
.footer-list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
.footer-list-item {
    color: var(--light);
    font-size: 15px;
    font-weight: 700;
    line-height: 160%;
}

.footer-list-item span {
    display: block;
    color: rgba(var(--light-rgb),.9);
    font-weight: 400;
}
..footer-list-item:not(:last-child) {
    margin-bottom: 14px;
}
.footer-tel {
    display: block;
    color: var(--accent-light);
    font-family: var(--nunito);
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 12px;
}